on:
  push:
    branches:
    - main
    - master
    tags:
    - 'v*'

name: Release policy

jobs:

  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-rust.yml@247608f0b5a1562a6fd2576e5b2e6cbe62551baf # v4.5.15

  release:
    needs: test
    permissions:
      # Required to create GH release
      contents: write
      # Required to push to ghcr.io
      packages: write
      # Required by cosign keyless signing
      id-token: write

    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-rust.yml@247608f0b5a1562a6fd2576e5b2e6cbe62551baf # v4.5.15
    with:
      oci-target: ghcr.io/kubewarden/policies/rancher-project-propagate-labels
